<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="github-markdown.css">
<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}
	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>
</head>
<body>
<article class="markdown-body">
<h1><a href="#黄家顺" id="黄家顺">黄家顺</a></h1>
<pre><code>&lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
	xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd&quot;&gt;
	&lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;

	&lt;groupId&gt;cn.edu.cqupt&lt;/groupId&gt;
	&lt;artifactId&gt;MyMarkdown&lt;/artifactId&gt;
	&lt;version&gt;0.0.1-SNAPSHOT&lt;/version&gt;
	&lt;packaging&gt;jar&lt;/packaging&gt;

	&lt;name&gt;MyMarkdown&lt;/name&gt;
	&lt;url&gt;http://maven.apache.org&lt;/url&gt;

	&lt;properties&gt;
		&lt;project.build.sourceEncoding&gt;UTF-8&lt;/project.build.sourceEncoding&gt;
	&lt;/properties&gt;

	&lt;!--&lt;repositories&gt;--&gt;
		&lt;!--&lt;repository&gt;--&gt;
			&lt;!--&lt;id&gt;atomation-repository&lt;/id&gt;--&gt;
			&lt;!--&lt;name&gt;atomation maven repository&lt;/name&gt;--&gt;
			&lt;!--&lt;url&gt;http://atomation-repository.googlecode.com/svn/trunk&lt;/url&gt;--&gt;
			&lt;!--&lt;releases&gt;--&gt;
				&lt;!--&lt;enabled&gt;true&lt;/enabled&gt;--&gt;
				&lt;!--&lt;updatePolicy&gt;always&lt;/updatePolicy&gt;--&gt;
				&lt;!--&lt;checksumPolicy&gt;warn&lt;/checksumPolicy&gt;--&gt;
			&lt;!--&lt;/releases&gt;--&gt;
			&lt;!--&lt;snapshots&gt;--&gt;
				&lt;!--&lt;enabled&gt;true&lt;/enabled&gt;--&gt;
				&lt;!--&lt;updatePolicy&gt;always&lt;/updatePolicy&gt;--&gt;
				&lt;!--&lt;checksumPolicy&gt;warn&lt;/checksumPolicy&gt;--&gt;
			&lt;!--&lt;/snapshots&gt;--&gt;
			&lt;!--&lt;layout&gt;default&lt;/layout&gt;--&gt;
		&lt;!--&lt;/repository&gt;--&gt;
	&lt;!--&lt;/repositories&gt;--&gt;

	&lt;dependencies&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;junit&lt;/groupId&gt;
			&lt;artifactId&gt;junit&lt;/artifactId&gt;
			&lt;version&gt;3.8.1&lt;/version&gt;
			&lt;scope&gt;test&lt;/scope&gt;
		&lt;/dependency&gt;

		&lt;!-- parse markdown to html --&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;com.vladsch.flexmark&lt;/groupId&gt;
			&lt;artifactId&gt;flexmark-all&lt;/artifactId&gt;
			&lt;version&gt;0.24.0&lt;/version&gt;
		&lt;/dependency&gt;

		&lt;!-- external browser component --&gt;
	&lt;/dependencies&gt;
	&lt;build&gt;
		&lt;plugins&gt;
			&lt;plugin&gt;
				&lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
				&lt;artifactId&gt;maven-compiler-plugin&lt;/artifactId&gt;
				&lt;version&gt;3.6.0&lt;/version&gt;
				&lt;configuration&gt;
					&lt;target&gt;1.8&gt;&lt;/target&gt;
					&lt;source&gt;1.8&lt;/source&gt;
				&lt;/configuration&gt;
			&lt;/plugin&gt;
		&lt;/plugins&gt;
	&lt;/build&gt;


&lt;/project&gt;
</code></pre>
</article>
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script></body>
</html>
